<div class="container">
    <form [formGroup]="form">
        <div *ngFor="let formGroup of inputForm.groups">
            <h3>{{formGroup.title}}</h3>
            <div class="row" [formGroupName]="formGroup.title">
                <div class="col-12 col-md-6 col-xl-4 mb-3" *ngFor="let field of formGroup.components">
                    <label class='form-label'>{{ field.name }}</label>
                    <input [formControlName]="field.name" class="form-control"
                    [class.is-valid]="isValid(formGroup.title,field.name)"
                    [class.is-invalid]="isInvalid(formGroup.title,field.name)">
                    <div class="valid-feedback">{{ getMessage(formGroup.title,field.name) }}</div>
                    <div class="invalid-feedback">{{ getMessage(formGroup.title,field.name) }}</div>
                </div>
            </div>
        </div>
    </form>
</div>